/* Colors:
    Red-- color: #e83622;
    White-- color: #f3eded;
    Grey-- color: #8b8888;
    Dark Grey-- color: #222222;
    Black-- color: #151515;
*/

/* Font:
    font-family: "Grifter", Arial, sans-serif; 
*/

@font-face { font-family: "Grifter";
    src: url('./assets/GRIFTER™+Bold.otf') format('embedded-opentype'), /* Internet Explorer */
    url('./assets/GRIFTER™+Bold.otf') format('woff2'), /* Super Modern Browsers */
    url('./assets/GRIFTER™+Bold.otf') format('woff'), /* Pretty Modern Browsers */
    url('./assets/GRIFTER™+Bold.otf')  format('truetype'), /* Safari, Android, iOS */
    url('./assets/GRIFTER™+Bold.otf') format('svg'); /* Legacy iOS */
    font-display: swap;
}

/* Normalize/Reset */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}



/* General styles */

html,
body {
    font-family: "Grifter", Arial, sans-serif;
    font-size: 62.5%;
    background-color: #151515;
    color: #f3eded;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.menuBtn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menuBtnBurger {
    width: 25px;
    height: 4px;
    background-color: #f3eded;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menuBtnBurger::before,
.menuBtnBurger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 4px;
    background-color: #f3eded;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menuBtnBurger::before {
    transform: translateY(-10px);
}

.menuBtnBurger::after {
    transform: translateY(10px);
}

.menuBtn.open .menuBtnBurger {
    transform: translateX(-50px);
    background: transparent;
}

.menuBtn.open .menuBtnBurger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menuBtn.open .menuBtnBurger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

h2 {
    text-transform: uppercase;
    font-size: 8rem;
    color: #151515;
    text-shadow: -1px 1px 0 #8b8888,
                1px 1px 0 #8b8888,
                1px -1px 0 #8b8888,
                -1px -1px 0#8b8888;
    cursor:default;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

h3 {
    letter-spacing: 2px;
}

p {
    letter-spacing: 1px;
}

ul {
    padding: 0;
    display: flex;
}

li {
    list-style-type: none;
}

i,
.portfolio a {
    font-size: 5rem;
}

a {
    position: relative;
    text-decoration: none;
}

a,
nav i,
.headerText p,
.skillsList p {
    color: #8b8888;
    transition: color .2s linear;
}

a:hover,
a:focus,
.socialLinks li:hover {
    color: #e83622 !important;
}

a::after {
    content: '';
    display: block;
    margin-top: 10px;
    height: 1px;
    width: 0%;
    background:#e83622;
    transition: width .5s ease;
}

.plumLink {
    display: inline-block;
}

.plumLink::after {
    margin-top: 0;
}

a:hover::after,
a:focus::after,
.headerImg img,
.downIcon,
.projectList,
.projectImg,
.projectImg img,
.copyright,
.creditsContainer li {
    width: 100%;
}

/* font sizes */

.info i {
    font-size: 3.5rem;
}

nav,
.headerText p,
.info a,
.contactForm,
.footerMenu {
    font-size: 2rem;
}

.bio,
.email {
    font-size: 2.3rem;
}

h3,
nav i,
.socialLinks i {
    font-size: 3rem;
}
/* #e2d2c4 */

/* Light Dark Mode */


.lightDark {
    position: fixed;
    bottom: 40px;
    right: 40px;
    color:#8b8888;
    cursor: pointer;
}

.lightDark i {
    font-size: 4rem;
}

body.lightMode {
    background-color: #e2d2c4;
    color: #151515;
}

h1.lightMode {
    color: #e2d2c4;
    text-shadow: -10px 10px 0 #151515, 1px 1px 0 #151515, 1px -1px 0 #151515, -1px -1px 0 #151515;
}

h2.lightMode {
    color: #e2d2c4;
    text-shadow: -1px 1px 0 #151515, 1px 1px 0 #151515, 1px -1px 0 #151515, -1px -1px 0 #151515;
}

a.lightMode,
nav.lightMode i,
.headerText.lightMode p,
.skillsList.lightMode p,
.lightDark.lightMode {
    color: #414141;
}


/* Header Styling */

nav {
    display: flex;
    justify-content: space-between;
    margin: 40px 60px 0 60px;
}


.menuContainer li,
.skillsList li,
.socialLinks li {
    margin-right: 30px;
}

.menuContainer li:last-child,
.skillsList li:last-child,
.socialLinks li:last-child {
    margin-right: 0;
}

.headerContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
}

.headerText {
    width: 70%;
    margin-left: -40px;
}

h1 {
    position: relative;
    font-size: 15rem;
    z-index: 1;
    animation: slideText .5s ease-out 1;
}

@keyframes slideText {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

h1 span,
.headerText p {
    margin-left: 350px;
}

.headerText p{
    animation: slideText .5s ease-out 1;
}

.headerImg {
    margin-left: -220px;
    width: 30%;
    animation: slide .5s ease-out 1;
}

@keyframes slide {
    0% {
        transform: translateX(500px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.headerImg img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.downIcon {
    display: flex;
    justify-content: center;
    animation: bounce 1s linear infinite;
}

.downIcon img {
    width: 6%;
    height: auto;
}

@keyframes bounce {
    0% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}

/* Header Cursor Styling */

.cursorContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    mix-blend-mode: difference;
}

.tail {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #f3eded;
    border-radius: 25px;
    transition: all 0.1s linear;
}

.tail5 {
    height: 15px;
    width: 15px;
}

.tail4 {
    height: 13px;
    width: 13px;
}

.tail3 {
    height: 11px;
    width: 11px;
}

.tail2 {
    height: 9px;
    width: 9px;
}

.tail1 {
    height: 6px;
    width: 6px;
}

.tail0 {
    height: 2px;
    width: 2px;
}





/* About styling */

.about {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.bio {
    width: 50%;
}

.bio p {
    margin-top: 15px;
}




/* Portfolio Styling */

.panels {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 100px 0 10px 0;
    cursor: pointer;
}

.panel::after {
    content: '';
    width: 100%;
    background-color: #8b8888;
    height: 1px;
}

.panel.open .projectImage {
    display: flex;
    margin-top: -60px;
}

.panel.open {
    flex: 4;
}

.panel:hover .projectHeader h3,
.panel:focus .projectHeader h3,
.panel.open .projectHeader h3 {
    color: #e83622;
    transition: all 0.3s;
}

.panel.open .projectDescription {
    display: flex;
    flex-direction: column;
}

.projectContent {
    display: flex;
}

.projectHeader h3 {
    font-size: 5rem;
    margin-left: 100px;
}

.projectImage {
    display: flex;
    opacity: 1;
    overflow: hidden;
    justify-content: center;
    width: 500px;
    height: 300px;
    position: absolute;
    right: -900px;
    margin-top: -200px;
    outline: 1px solid #8b8888;
    outline-offset: 20px;
    transition: opacity .3s ease, right .5s ease-out;
}

.panel:hover .projectImage,
.panel:focus .projectImage,
.panel.open .projectImage {
    opacity: 1;
    right: 10px;
}

.projectImage img {
    align-self: center;
    width: auto;
    height: 100%;
}

.projectNum {
    font-size: 2rem;
    color: #8b8888;
}


.portfolio {
    padding-top: 100px;
    margin-top: 100px;
    position: relative;
}

.projectDescription {
    display: none;
    margin-left: 135px;
    width: 40%;
}

.projectText {
    font-size: 2rem;
    margin-top: 40px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 20px 0;
}

.projectLinks {
    display: flex;
    flex-direction: row;
}

.projectLinks a:first-child {
    margin-right: 40px;
}

.projectIcons li {
    margin-left: 10px;
}


/* Skills styling */

.skills {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    margin-top: 100px;
}

.skillsList {
    display: flex;
}

.skillsList li {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.skillsList p {
    opacity: 0;
    cursor: default;
}

.skillsList li:hover p {
    opacity: 1;
}

.skillsList li:hover i {
    animation: bounce .8s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform:translateY(-15px)
    }
}


/* Contact Styling */

footer {
    padding-bottom: 50px;
}

.contact {
    padding-top: 100px;
    margin-top: 100px;
}

.contact h3 {
    font-size: 1.8rem;
}

.contactContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.emailContainer {
    flex: 2;
}

.email {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.formContainer h3 {
    margin-bottom: 40px;
}

.contactForm {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    gap: 40px;
}

input,
textarea,
button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f3eded;
}

input[type="text"] {
    grid-column: 1/2;
}

input[type="email"] {
    grid-column: 2/3;
}

textarea {
    grid-column: 1/3;
    resize: none;
}

button {
    background-color: #222222;
    color: #f3eded;
    font-family: "Grifter", Arial, sans-serif;
    transition: background-color .1s ease-in;
}

button:hover,
button:focus {
    cursor: pointer;
    background-color: #e83622;
}

.socialContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.footerMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footerMenu li {
    margin-bottom: 10px;
}

.socialLinks {
    display: flex;
    justify-content: flex-end;
}

.socialLinks li:hover {
    cursor: pointer;
}

.copyright {
    margin-top: 40px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.creditsContainer {
    display: none;
    flex-direction: row;
    font-size: 1.5rem;
}

.creditsContainer h4 {
    margin: 0 10px 0 0;
}

.creditsContainer.toggleCredits {
    display: flex;
}

.creditsContainer a {
    display: inline-block;
}


@media (max-width: 1700px) {

    .projectHeader h3 {
        font-size: 4rem;
    }

}

@media (max-width: 1500px) {

    .headerText {
        width: 50%;
    }

    .headerText p {
        position: absolute;
        margin-left: 40px;
        margin-top: -130px;
    }

    .headerImg {
        margin-left: 0px;
    }

    .bio {
        font-size: 2rem;
    }

    .skills {
        flex-direction: column;
    }

    .skillsList {
        margin-top: 40px;
    }
}


@media (max-width: 1250px) {

    h1 {
        font-size: 12rem;
    }

    h1 span {
        margin-left: 300px;
    }

    .headerImg {
        margin-left: 0px;
    }

    .projectImage {
        width: 400px;
        height: 250px;
    }

    .info a {
        font-size: 1.7rem;
    }

    .info i {
        font-size: 3rem;
    }
}

@media (max-width: 1100px) {

    h1 {
        font-size: 10rem;
    }

    h1 span {
        margin-left: 300px;
    }
    
    .headerText p {
        margin-left: 20px;
        margin-top: -90px;
    }

    .headerImg {
        margin-left: -30px;
    }

    .skillsList p {
        margin-top: 10px;
        opacity: 1;
    }

    .icon-jquery {
        font-size: 4.3rem;
    }

    .contact h3 {
        font-size: 1.7rem;
    }

    .email {
        font-size: 2.2rem;
    }

    .projectMain {
        margin-left: 50px;
    }

    .projectHeader h3 {
        font-size: 5rem;
        position: relative;
        margin: 0 0 10px 0;
    }

    .projectImage {
        outline-offset: 10px;
        margin-left: 100px;
    }

    .panel:hover .projectImage,
    .panel:focus .projectImage {
        display: none;
    }

    .panel.open .projectImage {
        display: flex;
        margin-top: 40px;
        position: relative;
    }

    .projectDescription {
        margin-left: 165px;
        width: 60%;
    }

    .copyright {
        flex-direction: column;
    }

    .creditsContainer {
        margin-top: 20px;
    }

}

@media (max-width: 970px) {

    h1 {
        font-size: 9rem;
    }

    .headerImg {
        margin-left: 20px;
    }

    h1 span {
        margin-left: 260px;;
    }

    .headerText p {
        font-size: 1.8rem;
    }
}


@media (max-width: 800px) {

    .menuContainer {
        display: none;
    }

    .menuContainer.toggleCls {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 30px;
        padding-left: 40px;
        padding-bottom: 20px;
        flex-direction: column;
        width: 100%;
        background-color: rgba(34, 34,34, 0.9);
        z-index: 2;
        overflow: hidden;
    }

    .menuContainer li {
        margin-bottom: 10px;
    }

    .menuContainer.menuContainer.toggleCls a {
        color: #f3eded;
    }

    .menuContainer.menuContainer.toggleCls a::after {
        display: none;
    }

    .menuBtnBurger.lightMode {
        background-color: #414141;
    }

    .menuBtnBurger.lightMode::before, .menuBtnBurger.lightMode::after {
        background-color: #414141;
    }

    .menuBtn {
        display: flex;
        z-index: 3;
    }

    h1 {
        font-size: 8rem;
    }

    h1 span {
        margin-left: 200px;
    }

    h1.lightMode {
        text-shadow: -7px 7px 0 #151515, 1px 1px 0 #151515, 1px -1px 0 #151515, -1px -1px 0 #151515;
    }

    .headerText p {
        font-size: 2rem;
        margin-left: 10px;
        margin-top: 0px;
    }

    .headerImg {
        margin-left: 10px;
    }

    h2 {
        font-size: 6rem;
    }

    h3 {
        font-size: 2rem;
    }

    .about,
    .portfolio,
    .skills,
    .contact {
        margin-top: 0;
    }

    .about {
        flex-direction: column;
    }

    .bio {
        margin-top: 50px;
        align-self: center;
        width: 70%;
        font-size: 1.8rem;
    }

    .projectHeader h3 {
        font-size: 4rem;
    }

    .projectImage {
        margin-left: 20px;
    }

    .projectDescription {
        margin-left: 95px;
        width: 80%;
    }

    
    .skillsList {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .skillsList li {
        margin-right: 0;
        margin-left: 25px;
    }

    .contactContainer {
        flex-direction: column;
    }

    .footerMenu {
        margin-top: 50px;
        flex-direction: row;
        justify-content: space-between;
    }

    .copyright {
        margin-top: 0;
    }
}

@media (min-width: 801px) {
    .menuContainer {
        display: flex;
    }

    .menuBtn {
        display: none;
    }
}

@media (max-width: 700px) {

    .headerText {
        width: 40%;
    }

    h1 {
        font-size: 6rem;
    }

    h1 span {
        margin-left: 150px;
    }

    .headerImg {
        margin-left: 20px;
    }

    .headerText p {
        font-size: 1.6rem;
        margin-left: 10px;
    }

    h2 {
        font-size: 5rem;
    }

    .panel {
        padding: 40px 0 10px 0;
    }

    .projectContent {
        flex-direction: column;
    }

    .projectMain {
        margin-left: 0;
    }

    .projectNum {
        font-size: 1.5rem;
    }

    .projectHeader h3 {
        font-size: 2.5rem;
        margin-top: 20px;
    }

    .projectImage {
        margin-left: 100px;
    }

    .projectDescription {
        margin-left: 80px;
    }

    .projectText {
        font-size: 1.8rem;
    }

    .contact h3 {
        font-size: 1.5rem;
    }

    .email {
        font-size: 1.8rem;
    }
}

@media (max-width: 600px) {

    .headerImg {
        margin-left: 60px;
        width: 40%;
    }
    .headerText p {
        margin-top: 10px;
    }

    .contactForm {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 4;
        gap: 40px;
    }
    
    input[type="text"] {
        grid-row: 1/2;
    }
    
    input[type="email"] {
        grid-row: 2/3;
        grid-column: 1/ 2;
    }
    
    textarea {
        grid-column: 1/2;
        grid-row: 3 / 4;
        resize: none;
    }

    .projectImage {
        margin-left: 25px;
        margin-right: 0;
        width: 80%;
        height: 200px;
    }

    .projectDescription {
        margin-left: 10px;
    }

    .projectLinks {
        display: flex;
        flex-direction: column;
    }
    
    .projectLinks a:first-child {
        margin-right: 20px;
    }
}

@media (max-width: 500px) {
    .headerContent {
        flex-direction: column-reverse;
    }

    .headerText {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-left: 0px;
    }

    .headerText p {
        margin-top: -70%;
    }

    .headerImg {
        width: 60%;
        margin-left: 0;
        margin-bottom: -40px;
    }

    h1 {
        text-align: center;
        margin-right: 100px;
    }

    h1 span {
        margin-left: 180px;
    }

    .downIcon {
        display: none;
    }

    .bio {
        width: 80%;
    }

    .projectImage {
        width: 90%;
    }

    .projectDescription {
        width: 90%;
    }

    .projectText {
        font-size: 1.6rem;
    }

    .skillsList {
        justify-content: flex-start;
    }

    .skillsList li {
        margin-left: 0;
        margin-right: 20px;
    }

    .contactForm {
        gap: 20px;
    }

    .email {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .email a {
        margin-top: 15px;
    }

    .copyright {
        margin-top: 20px;
    }

}

@media (max-width: 430px) {

    .headerContent {
        height: calc(100vh - 100px);
    }

    h1 {
        font-size: 5rem;
    }

    h1 span{
        margin-left: 150px;
    }

    h1.lightMode {
        text-shadow: -5px 4px 0 #151515, 1px 1px 0 #151515, 1px -1px 0 #151515, -1px -1px 0 #151515;
    }

    .headerText p {
        margin-top: -65%;
    }

    h2 {
        font-size: 4rem;
    }

    .lightDark {
        z-index: 10;
    }

    .bio {
        width: 100%;
        font-size: 1.5rem;
        line-height: 1.25;
    }

    .bio p {
        letter-spacing: 1.2px;
        margin-top: 10px;
    }

    .projectHeader h3 {
        font-size: 2rem;
        bottom: 40px;
        left: 50px;
    }

    .panel.open .projectHeader h3 {
        animation: slideHeader 1s 1 ease-in forwards;
    }

    @keyframes slideHeader {
        35% {
            bottom: 0;
            left: 50px;
        }

        100% {
            bottom: 0;
            left: 0;
        }
    }

    .projectImage {
        width: 90%;
        height: 170px;
    }

    .info {
        flex-direction: column;
    }

    .info a {
        font-size: 1.5rem;
    }

    .projectLinks {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    
    .projectLinks a:first-child {
        margin-right: 20px;
    }

    .projectIcons li:first-of-type {
        margin-left: 0;
    }

    .formContainer h3 {
        margin-bottom: 20px;
    }

    .footerMenu {
        font-size: 1.8rem;
        flex-wrap: wrap;
    }

    .footerMenu li {
        margin-right: 10px;
    }

    .footerMenu li:last-of-type {
        margin-right: 0;
    }
}

@media (max-width: 350px) {

    h1 {
        font-size: 4.5rem;
        margin-right: 70px;
    }

    h1 span {
        margin-left: 110px;
    }

    .projectImage {
        height: 150px;
        width: 88%;
    }

    .projectText {
        font-size: 1.5rem;
    }
}




