/* Colors:
    Red-- color: #e83622;
    White-- color: #fef7f7;
    Grey-- color: #7a7a7a;
    Dark Grey-- color: #222222;
    Black-- color: #151515;
*/

/* Font:
    font-family: "Grifter", Arial, sans-serif; 
*/

@font-face { font-family: "Grifter"; src: url('./assets/GRIFTER™+Bold.otf') format('embedded-opentype'), /* Internet Explorer */
    url('./assets/GRIFTER™+Bold.otf') format('woff2'), /* Super Modern Browsers */
    url('./assets/GRIFTER™+Bold.otf') format('woff'), /* Pretty Modern Browsers */
    url('./assets/GRIFTER™+Bold.otf')  format('truetype'), /* Safari, Android, iOS */
    url('./assets/GRIFTER™+Bold.otf') format('svg'); /* Legacy iOS */
}

/* Normalize/Reset */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}



/* General styles */

html,
body {
    font-family: "Grifter", Arial, sans-serif;
    font-size: 62.5%;
    background-color: #151515;
    color: #fef7f7;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

h2 {
    text-transform: uppercase;
    font-size: 8rem;
    color: #151515;
    text-shadow: -1px 1px 0 #7a7a7a,
				  1px 1px 0 #7a7a7a,
				 1px -1px 0 #7a7a7a,
                 -1px -1px 0 #7a7a7a;
    cursor:default;
}

h3 {
    cursor: default;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

h3 {
    letter-spacing: 2px;
}

p {
    letter-spacing: 1px;
}

ul {
    padding: 0;
    display: flex;
}

li {
    list-style-type: none;
}

i,
.portfolio a {
    font-size: 5rem;
}

a {
    position: relative;
    text-decoration: none;
}

a,
nav i,
.headerText p,
.skillsList p {
    color: #7a7a7a;
}

a:hover,
a:focus,
.socialLinks li:hover {
    color: #e83622;
}

a::after {
    content: '';
    display: block;
    margin-top: 10px;
    height: 1px;
    width: 0%;
    background:#e83622;
    transition: width .5s ease;
}

a:hover::after,
a:focus::after,
.headerImg img,
.downIcon,
.projectList,
.projectImg,
.projectImg img,
.copyright,
.creditsContainer,
.creditsContainer li {
    width: 100%;
}

/* font sizes */

.info i {
    font-size: 4rem;
}

nav,
.headerText p,
.info a,
.contactForm,
.footerMenu {
    font-size: 2rem;
}

.bio,
.email {
    font-size: 2.5rem;
}

h3,
nav i,
.socialLinks i {
    font-size: 3rem;
}


/* Header Styling */

nav {
    display: flex;
    justify-content: space-between;
    margin: 40px 60px 0 60px;
}

.menuContainer li,
.skillsList li,
.socialLinks li {
    margin-right: 30px;
}

.menuContainer li:last-child,
.skillsList li:last-child,
.socialLinks li:last-child {
    margin-right: 0;
}

.headerContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: calc(100vh - 70px);
}

.headerText {
    width: 60%;
}

h1 {
    position: relative;
    font-size: 15rem;
    z-index: 1;
    animation: slideText .5s ease-out 1;
}

@keyframes slideText {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

h1 span,
.headerText p {
    margin-left: 350px;
}

.headerText p{
    animation: slideText .5s ease-out 1;
}

.headerImg {
    margin-left: -170px;
    width: 30%;
    animation: slide .5s ease-out 1;
}

@keyframes slide {
    0% {
        transform: translateX(500px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.headerImg img {
    border-radius: 10px;
}

.downIcon {
    display: flex;
    justify-content: center;
    animation: bounce 1s linear infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}

/* About styling */

.about {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.bio {
    width: 40%;
}


/* Portfolio Styling */

.portfolio {
    padding-top: 200px;
    position: relative;
    height: 100vh;
}

.prev {
    left: -100px;
    top: 400px;
    z-index: 1;
}

.next {
    left: 1400px;
    top: 330px;
    z-index: 1;
}

.projectList {
    position: relative;
    height: 100%;
    justify-content: center;
    overflow: hidden;
}

.project {
    border: 20px solid #222222;
    background-color: #222222;
}

.hide {
    display: none;
}

.current {
    position: absolute;
    width: 60%;
    z-index: 1;
}

.nextSlide,
.prevSlide {
    position: absolute;
    opacity: .1;
    width: 100%;
    transform: scale(.6);
}

.nextSlide {
    margin-right: -170%;
    transform-origin: top left;
}

.prevSlide {
    margin-left: -170%;
    transform-origin: top right;
}

.portfolio a:hover {
    cursor: pointer;
}

.portfolio a::after {
    content: '';
    background: none;
    transition: none;
}

.projectDescription {
    display: flex;
    font-size: 1.8rem;
}

.projectText {
    flex: 2;
}

.projectDescription,
.projectText p {
    margin-top: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
}

.info li {
    margin-right: 10px;
}


/* Skills styling */

.skills {
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
}

.skillsList {
    display: flex;
}

.skillsList li {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.skillsList p {
    opacity: 0;
    cursor: default;
}

.skillsList li:hover p {
    opacity: 1;
}

.skillsList li:hover i {
    animation: bounce .8s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(-10px);
    }

     
    100% {
        transform:translateY(-15px)
    }
}


/* Contact Styling */

.contact {
    padding-top: 200px;
}

.contact h3 {
    font-size: 1.8rem;
    color:#e83622;
}

.contactContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.emailContainer {
    flex: 2;
}

.email {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.formContainer h3 {
    margin-bottom: 40px;
}

.contactForm {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    gap: 40px;
}

input[type="text"],
input[type="email"],
textarea,
button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #fef7f7;
}

input[type="text"] {
    grid-column: 1/2;
}

input[type="email"] {
    grid-column: 2/3;
}

textarea {
    grid-column: 1/3;
    resize: none;
}

button {
    background-color: #222222;
    color: #fef7f7;
    font-family: "Grifter", Arial, sans-serif;
    transition: background-color .1s ease-in;
}

button:hover,
button:focus {
    cursor: pointer;
    background-color: #e83622;
}

.socialContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.footerMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 30px;
}

.footerMenu li {
    margin-bottom: 10px;
}

.socialLinks {
    display: flex;
    justify-content: flex-end;
}

.socialLinks li:hover {
    cursor: pointer;
}

.copyright {
    margin-top: 40px;
    padding: 40px 40px 40px 0;
    font-size: 1.5rem;
}

.creditsContainer {
    display: none;
    flex-direction: column;
    font-size: 1.5rem;
}

.creditsContainer a {
    display: inline-block;
}


@media (max-width: 1700px) {
    .wrapper {
        max-width: 1100px;
    }

    .headerImg {
        margin-left: -50px;
    }

    .current {
        width: 70%;
    }

    .nextSlide {
        margin-right: -180%;
    }

    .prevSlide {
        margin-left: -180%;
    }

    .next {
        left: 1200px;
    }

}

@media (max-width: 1500px) {
    .wrapper {
        max-width: 1000px;
    }

    .headerText {
        width: 50%;
    }

    .headerText p {
        position: absolute;
        margin-left: 40px;
        top: 400px;
    }

    .headerImg {
        margin-left: 100px;
        width: 35%;
    }

    .bio {
        width: 50%;
        font-size: 2rem;
    }

    .prev {
        left: -70px;
    }

    .next {
        left: 1050px;
    }

    .skills {
        flex-direction: column;
    }

    .skillsList {
        margin-top: 40px;
    }
}


@media (max-width: 1250px) {

    .headerContent {
        justify-content: center;
    }

    h1 {
        font-size: 12rem;
    }

    h1 span {
        margin-left: 300px;
    }

    .headerImg {
        margin-left: -10px;
    }

    .current {
        width: 80%;
    }

    .prevSlide,
    .nextSlide {
        opacity: 0;
    }

    .prev {
        left: 30px;
    }

    .next {
        left: 940px;
    }

}

@media (max-width: 1100px) {
    .wrapper {
        margin: 0 40px 0 40px;
    }

    .next {
        left: 920px;
    }
}


